in
out_*
uaf.out
.uaf.o.bc
callgraph_final.dot
callgraph_initial.dot
mempair.uaf
mempair_all.uaf
mssa.uaf
uaf
uaf.bc.r
uaf.wpa
ConConfig.uaf
so.uaf
mempairso.uaf
*.bc
dbds.*
dryrun.*
func_trace.log
*.o.tmp
out_*
