in
out_*
test.out
.test.o.bc
callgraph_final.dot
callgraph_initial.dot
mempair.test
mempair_all.test
mssa.test
test
test.bc.r
work.wpa
ConConfig.test
so.test
mempairso.test
*.bc
dbds.*
dryrun.*
func_trace.log
*.o.tmp
out_*
