in
out_*
lock.out
.lock.o.bc
callgraph_final.dot
callgraph_initial.dot
mempair.lock
mempair_all.lock
mssa.lock
lock
lock.bc.r
lock.wpa
ConConfig.lock
so.lock
mempairso.lock
*.bc
dbds.*
dryrun.*
func_trace.log
*.o.tmp
out_*
