in
out_*
work.out
.work.o.bc
callgraph_final.dot
callgraph_initial.dot
mempair.work
mempair_all.work
mssa.work
work
work.bc.r
work.wpa
ConConfig.work
so.work
mempairso.work
*.bc
dbds.*
dryrun.*
func_trace.log
*.o.tmp
out_*
