in
out_*
transfer
transfer.out
callgraph_final.dot
callgraph_initial.dot
mempair.transfer
mempair_all.transfer
mssa.transfer
transfer.wpa
.transfer.o.bc
transfer.bc.r
ConConfig.transfer
so.transfer
mempairso.transfer
*.bc
dbds.*
dryrun.*
out_*
